<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Title</title>
    <style>

    </style>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}" />
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">Category List</div>
    </div>
</div>
<div class="container-fluid">
    <form th:action="" method="post">
        <div class="row">
            <div class="col-xs-3 col-md-3">name</div>
            <div class="col-xs-9 col-md-9">
                <input name="name" placeholder="请输入名称" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-md-3">priority</div>
            <div class="col-xs-9 col-md-9">
                <input name="name" type="number" placeholder="请输入优先级数字" />
            </div>
        </div>
    </form>

</div>


</body>
</html>