<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Title</title>
    <style>

    </style>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
</head>
<body>
<div class="container-fluid" style="width: 80%;">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">.</div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-1 col-md-1">id</div>
        <div class="col-xs-2 col-md-2">name</div>
        <div class="col-xs-2 col-md-2">priority</div>
        <div class="col-xs-3 col-md-3">create-time</div>
        <div class="col-xs-4 col-md-4">last-edit-time</div>
    </div>
    <div class="row" th:each="category:${categoryList}">
        <div class="col-xs-1  col-md-1" th:text="${category.categoryId}">id</div>
        <div class="col-xs-2  col-md-2" th:text="${category.categoryName}">name</div>
        <div class="col-xs-2  col-md-2" th:text="${category.priority}">priority</div>
        <div class="col-xs-3 col-md-3" th:text="${category.createTime}">create-time</div>
        <div class="col-xs-4 col-md-4"  th:text="${category.lastEditTime}">last-edit-time</div>
    </div>
</div>
<!-- 通过thymeleaf引入图片路径 -->
<img alt="test" th:src="@{/images/time.png}" />
<p th:text="${host}">host1</p>
</body>
</html>